<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="RoslynatorRuleSet" ToolsVersion="10.0">
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1001" Action="None" />
    <Rule Id="RCS1003" Action="None" />
    <Rule Id="RCS1046" Action="Info" />
    <Rule Id="RCS1057" Action="None" />
    <Rule Id="RCS1060" Action="Info" />
    <Rule Id="RCS1064" Action="Info" />
    <Rule Id="RCS1085" Action="None" />
    <Rule Id="RCS1094" Action="Info" />
    <Rule Id="RCS1096" Action="None" />
    <Rule Id="RCS1165" Action="None" />
    <Rule Id="RCS1169" Action="None" />
    <Rule Id="RCS1170" Action="None" />
    <Rule Id="RCS1184" Action="Info" />
    <Rule Id="RCS1198" Action="Info" />
    <Rule Id="RCS1213" Action="None" />
    <Rule Id="RCS1219" Action="Info" />
  </Rules>
</RuleSet>